/* 
Needs editing 
*/

html {
min-height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-color: white;
  animation: bg-change 10s infinite;
  -webkit-animation: bg-change 10s infinite;
  font-family: 'Lato', sans-serif;

}

/* Background color change */

@keyframes bg-change {
  0% {background-color: #355C7D }
  25% {background-color: #6C5B7B }
  50% {background-color: #C06C84 }
  75% {background-color: #F67280 }
  100% {background-color: #355C7D}

}

@-webkit-keyframes bg-change {
  0% {background-color: #355C7D  }
  25% {background-color: #6C5B7B }
  50% {background-color: #C06C84 }
  75% {background-color: #F67280 }
  100% {background-color: #355C7D }
}

.lobbyContainer, .gameContainer {
  height: 100vh;
}



.startGameButton {
  background-color: #4d2d81!important;
}


