.choiceContainer {
    display:flex; 
    align-items: center;
    justify-content: center;
    padding: 100px;
    height: 100vh;
}

.choiceGame {

    width: 40%;
    height: 400px;
    background-color: white;
    border: 2px solid;
    padding: 10px;
    -webkit-box-shadow: 2px 4px 25px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 4px 25px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 4px 25px 0px rgba(0,0,0,0.75);

}


.buttonFunctionality {
 padding: 5px; 
}

.choiceTitle {
    font-size: 1.5em;
    color: #4d2d81;
    font-family: 'Lato';
    font-weight: bold;

}

.choiceLinks {
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
}