.footerComponent 
{

  bottom: 0;
  width: 100%;
  background-color: white;
  border: 1px solid;
}

.rulesText, .controlsText {
  font-family: 'Lato';

}

.rulesTitle, .controlsTitle {
  font-family: 'Roboto';
  font-size: 1.5em;
}

.footerContainer {
padding: 5px;
}
