.navigation {
    border: 1px solid;
}

.inactive {
    color: black;
}
.inactive:hover {
    color:  #4d2d81 !important;
}
.active {
    color:  #4d2d81;
}

.website-title{
    color: #4d2d81!important;
    font-weight: 900;
}