
.signupTitle {

  font-size: 1.5em;
  color: #4d2d81;
  font-family: 'Lato';
  font-weight: bold;
  
}

.signupContainer {
  display:flex; 
  justify-content: center;
  padding: 100px;
  height: 100vh;




}

 .formSignup {
  padding: 20px 30px 20px;
  border: 2px solid;
  margin-bottom: -5px;
  width: 40%;
  height: 560px;
  background-color: white;
  -webkit-box-shadow: 2px 4px 25px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 4px 25px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 4px 25px 0px rgba(0,0,0,0.75);

}


.memberContainer {
  display: flex;
  justify-content: flex-end;
}

.signupButton {
  display: block;
  width: 100%;
  background-color: black !important;
  opacity: 0.8;
}

.signupButton:hover {
  opacity: 1;
}