/* 
Needs editing 
*/

html, body {
  margin: 0;
  height: 100%;
 

}
body {

  background: #355C7D;
  animation: bg-change 10s infinite;
  -webkit-animation: bg-change 10s infinite;
  font-family: 'Lato', sans-serif;

}

/* Background color change */

@keyframes bg-change {
  0% {background-color: #355C7D }
  25% {background-color: #6C5B7B }
  50% {background-color: #C06C84 }
  75% {background-color: #F67280 }
  100% {background-color: #355C7D}

}

@-webkit-keyframes bg-change {
  0% {background-color: #355C7D  }
  25% {background-color: #6C5B7B }
  50% {background-color: #C06C84 }
  75% {background-color: #F67280 }
  100% {background-color: #355C7D }
}


/*

Signup.js and Login Styling

*/

.formLogin, .formSignup {

  padding: 12px 15px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  margin-left: -50px;


}

/*
Footer.JS Styling
*/
.footerComponent 
{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  border: 1px solid;
}

.rulesText, .controlsText {
  font-family: 'Lato';

}

.rulesTitle, .controlsTitle {
  font-family: 'Roboto';
  font-size: 1.5em;
}

.footerContainer {
padding: 5px;
}


